body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.albums_container{
    width: 80%;
    margin-left: 5%;
    margin-top: 15px;
    background-color: #c4a070;
    height: 800px;
}
.albumsCanvas{
    width: 300px;
    height: 300px;
    margin: 10px;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.albumsCanvas_img{
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    border-radius: 3px;
    object-fit: cover;
    position: absolute;
}
.albumsCanvas_title {
  background-color: black;
  color: white;
  opacity: 0.75;
  width: 299px;
  margin-left: 3px;
  bottom: 0;
  text-align: center;
  position: absolute;

}
